In [41]:
import pandas as pd
import numpy as np
import datetime as dt
import plotly.express as px
import plotly.graph_objects as go
import chart_studio.plotly as py
import plotly.offline as pyoff
from plotly.subplots import make_subplots

In [47]:
df = pd.read_csv('/Users/michaelcondon/Documents/DataAndStories/Codebase/Dash-template/data/Condensed data from online retail.csv',
                parse_dates=["InvoiceDay"])
months = df["InvoiceDay"].dt.strftime('%B')
df["Month"] = months

In [48]:
ordered = df[df['TransType']=='Ordered'].copy().reset_index()
refunds = df[df['TransType']!='Ordered'].copy().reset_index()

In [49]:
ordered.head()

,index,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,InvoiceDay,TransType,Month
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom,2019-12-01,Ordered,December
1,1,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom,2019-12-01,Ordered,December
2,2,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,4.25,17850,United Kingdom,2019-12-01,Ordered,December
3,3,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,1.69,13047,United Kingdom,2019-12-01,Ordered,December
4,4,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,3.75,13047,United Kingdom,2019-12-01,Ordered,December

In [31]:
total_sold = np.sum(ordered["Quantity"] * ordered["UnitPrice"])
def human_format(num):
    num = float('{:.3g}'.format(num))
    magnitude = 0
    while abs(num) >= 1000:
        magnitude += 1
        num /= 1000.0
    return '{}{}'.format('{:f}'.format(num).rstrip('0').rstrip('.'), ['', 'K', 'M', 'B', 'T'][magnitude])

total_sold_short = human_format(total_sold)
total_sold_short

'3.56M'

In [34]:
total_units = ordered["Quantity"].sum()
total_units_short = human_format(total_units)
total_units_short

'1.98M'

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179115 entries, 0 to 179114
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    179115 non-null  int64
 1   StockCode    179115 non-null  object
 2   Description  179115 non-null  object
 3   Quantity     179115 non-null  int64
 4   UnitPrice    179115 non-null  float64
 5   CustomerID   179115 non-null  int64
 6   Country      179115 non-null  object
 7   InvoiceDay   179115 non-null  datetime64[ns]
 8   TransType    179115 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 12.3+ MB

In [67]:
sales_trend = ordered["Quantity"] * ordered["UnitPrice"]
monthly_sales = pd.DataFrame(zip(sales_trend, ordered["Month"]))
monthly_sales.columns = ["Line totals","Month"]
monthly_sales_df = np.ceil(pd.DataFrame(monthly_sales.groupby("Month")["Line totals"].sum()))
monthly_sales_df['Line totals'] = monthly_sales_df['Line totals'].apply(lambda x: '$'+human_format(x))
monthly_sales_df

          Line totals
Month
April           $175K
August          $248K
December        $607K
February        $173K
January         $277K
July            $233K
June            $243K
March           $234K
May             $260K
November        $497K
October         $378K
September       $358K

In [44]:
[dt.datetime(ordered['InvoiceDay'][i]) for i in ordered['InvoiceDay']]

KeyError: '2019-12-01 00:00:00'